.tweet {
    border: 1px solid #ccc;
    border-width: 2px 0px 0px 0px;
    clear: both;
    width: 500px;
}
.tweet p {
    float: left;
    clear: left;
}
.del_link{
    float : right;
}

.count_label {
    background-color:#ffffcc;
    width: 500px;
    height: 25px;
    margin-top:5px;
    padding-left:5px;
    padding-top:5px;
    cursor:pointer;
}

.TweetContent {
    width: 500px;
}

.reply {
    float : right;
    clear : right;
    cursor : pointer;
}

.like {
    float : right;
    clear : right;
    cursor : pointer;
}
